.btn-click-m{

    background:white;
    border: 1px solid white;
    
}.btn-click-m:hover{
          color: white;
          background: darkslategray;
          font-size: 20px;
          border: 1px solid black;
 }.btn-click-m:active{
       font-size: 22px;
   }


.btn1-click-m{

    background:white;
    border: 1px solid white;

}.btn1-click-m:hover{
    transform: scale(1.02);
 }

 .btn_s{
     width: 15px;
     height: 15px;
 }